---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
InsertNewlineAtEOF: true
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right